body {
    background-color: lightpink;
}

.btn {
    background-color: midnightblue;
    color: white;
    width: inline;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: cadetblue;
    transition: .5s;
}

.btn:active {
    transform: translate(5px, 5px);
}

.extra {
    margin-top: 80px;
    margin-bottom: 100px;
}

#tab {

    background-color: steelblue;
    border-color: brown;
    background-size: cover;
    border: 2px solid black;
    box-sizing: border-box;
}

.txt {
    width: 150px;
    height: 150px;
    margin-top: -17px;
    margin-bottom: -17px;
    text-align: center;
    font-size: 80px;
    font-family: cursive;
    cursor: pointer;
    background-color: transparent;
    background-size: cover;
    border: 5px solid black;
    box-sizing: border-box;
    margin-left: -5px;
    margin-right: -5px;
    color: white;
}

h1 {
    font-size: 60px;
    font-family: cursive;
}

#btm {
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    border: 0px;
    font-family: cursive;
    text-align: center;
}

#person {
    margin: 10px;
    font-size: 30px;
    width: 122px;
    border: 0px;
    font-family: cursive;
    background-color: transparent;
}

#popup {
    width: 600px;
    height: 150px;
    margin: auto;
    border: 2px solid black;
    font-family: cursive;
    font-size: 80px;
    text-align: center;
    background-color: bisque;
}

#ans {
    border: 0px;
    text-align: center;
    font-size: 70px;
    width: 600px;
    height: 100px;
    background-color: transparent;
    font-family: cursive;
}

.hide {
    display: none;
}
